{% extends 'base-pages/crm_base.html' %}

{% block content %}

<div class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
        <div class="card">
            <div class="card-header text-bg-dark">
                <strong>
                    {{ client_record.first_name }} 
                    {{ client_record.last_name }}
                </strong>
            </div>

            <div class="card-body">
                <p class="card-text">
                    <strong>Email: </strong>{{ client_record.email }}<br/>
                    <strong>Phone: </strong>{{ client_record.phone }}<br/>
                    <strong>Projects: </strong>
                        <ul>
                        {% for project in projects %}
                            <li>
                                <strong>
                                    {{ project.address }},
                                    {{ project.city }},
                                    {{ project.state }}
                                    {{ project.zipcode }}
                                </strong>
                                <br/>
                                Estimate: {{ project.estimate_date }}
                                <br/>
                                Worked: {{ project.start_date }} - {{ project.end_date }}
                            </li>
                        {% empty %}
                            <li>No projects found for this client.</li>
                        {% endfor %}
                        </ul>
                    <strong>Client Created: </strong>{{ client_record.created_at }}<br/>
                    <strong>ID: </strong>{{ client_record.id }}<br/>
                </p>
            </div>

            <div class="card-footer">
                <h5>Add a New Project:</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <button 
                        class="btn btn-primary" 
                        type="submit">
                        Add Project
                    </button>
                </form>
            </div>

        </div>

        <br/>

        <div class="d-flex justify-content-between">
            <a href="{% url 'crm_home' %}" class="btn btn-secondary">
                Back
            </a>

            <a href="{% url 'update_record' client_record.id %}" class="btn btn-secondary">
                Update Client Record
            </a>

            <a 
               class="btn btn-danger"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal">
                Delete Client
            </a>
        </div>

        <div
            class="modal fade" 
            id="deleteModal" 
            tabindex="-1" 
            aria-labelledby="deleteModalLabel" 
            aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content text-bg-dark">
                    <form method="post" id="deleteForm">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                            <button 
                                type="button" 
                                class="btn-close" 
                                data-bs-dismiss="modal" 
                                aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the record for: 
                            <strong>
                                {{ client_record.first_name }} 
                                {{ client_record.last_name }}
                            </strong>?
                        </div>
                        <div class="modal-footer">
                            <button 
                                type="button" 
                                class="btn btn-secondary" 
                                data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <a 
                                href="{% url 'delete_record' client_record.id %}" 
                                class="btn btn-danger">
                                    Delete
                                </a>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>

    </main>
</div>

{% endblock %}